@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translatex(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 62.5%;
}
@media (max-width: 960px) {
  body {
    overflow: hidden;
  }
}

section:not(:last-of-type) {
  margin-bottom: 50px;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 7.2rem;
  font-weight: 500;
  text-transform: capitalize;
  color: #0175B3;
  margin: 0 0 35px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
  margin: 0 0 80px;
  text-transform: capitalize;
  font-weight: 400;
  color: #0175B3;
  text-align: center;
}

h3 {
  font-size: 2.2rem;
  font-weight: 400;
  margin: 0 0 25px;
  text-transform: uppercase;
  color: #0175B3;
}

h4 {
  margin: 0 0 25px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 50px;
}

form {
  margin-bottom: 40px;
}

input, textarea, select {
  outline: none;
}

input,
textarea {
  font-size: 1.6rem;
  color: #888888;
  padding: 10px 15px;
  border: none;
}

input:not([type=submit]),
textarea {
  background-color: #ffffff;
}

input[type=submit] {
  background-color: #ffffff;
  color: #888888;
  font-size: 1.5rem;
  padding: 10px 25px;
  cursor: pointer;
}

textarea {
  resize: none;
  padding: 10 15px;
  background-color: #ffffff;
}

.container {
  max-width: 1420px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

.active {
  border-bottom: 1px solid #0175B3;
}

.btn {
  color: #ffffff !important;
  background-color: #0175B3;
  font-size: 1.5rem;
  padding: 15px 40px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

.short {
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.double-line {
  position: relative;
}
.double-line::before {
  content: "";
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  width: 165px;
  height: 1.88px;
  background-color: #BFBEBE;
}
.double-line::after {
  content: "";
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: 106px;
  height: 1.2px;
  background-color: #000000;
}

.header {
  background-color: #0175B3;
  color: #ffffff;
}
.header-wrapper {
  padding: 10px;
  font-size: 1.6rem;
}
.header-wrapper .contact-email > * {
  padding-left: 80px;
}
.header-wrapper .contact-email a {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
}
.header-wrapper .short {
  padding-right: 120px;
}
@media (max-width: 960px) {
  .header {
    display: none;
  }
}

.navigation {
  background-color: #ffffff;
  background-color: #ffffff;
}
.navigation-wrapper {
  padding: 25px 0;
}
.navigation-links {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 500;
}
.navigation-links > * {
  margin: 15px 25px;
}
@media (max-width: 960px) {
  .navigation-links {
    position: absolute;
    top: -2%;
    right: 0px;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.9);
    font-size: 3.5rem;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
}
@media (max-width: 960px) {
  .navigation-link {
    opacity: 0;
  }
}
.navigation-item:hover {
  text-decoration: none;
}
.navigation-form {
  position: relative;
}
.navigation-form input[type=text] {
  padding: 10px;
  border: 1px solid #888888;
}
.navigation-form input[type=submit] {
  padding: 0px;
  position: absolute;
  width: 28px;
  top: 55%;
  right: 10%;
  transform: translate(-10%, -55%);
  cursor: pointer;
  z-index: 2;
  background-color: transparent;
}
.navigation-form::after {
  content: "";
  position: absolute;
  top: 55%;
  right: 10%;
  transform: translate(-10%, -55%);
  height: 100%;
  width: 28px;
  background-image: url(./img/mag-glass.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.hero-section {
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-section .hero-content {
  padding: 200px 0 130px 0;
  max-width: 60%;
}
.hero-section .hero-content p {
  font-size: 2.4rem;
}

.welcome p {
  font-size: 1.7rem;
  padding: 20px 100px;
}

.consultation {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 200px 0 100px 0;
  color: #ffffff;
}
.consultation .content-wrapper {
  position: relative;
}
.consultation .content-wrapper span {
  display: block;
  text-align: center;
  font-size: 3.8rem;
  margin-bottom: 10px;
}
.consultation .content-wrapper h2 {
  font-size: 7.2rem;
  color: #ffffff;
  margin-bottom: 80px;
}
.consultation .content-wrapper::after {
  content: "";
  position: absolute;
  width: 148px;
  height: 6px;
  background-color: #BAB3B3;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -100%);
}
.consultation .button {
  text-align: center;
}

.team .card-wrapper {
  background-color: #D8D8DA;
  padding: 50px 70px;
}
.team .member-info {
  text-align: center;
}
.team .member-info h3 {
  color: #0175B3;
  font-size: 2.2rem;
}
.team .member-info p {
  font-size: 1.3rem;
  font-size: 1.6rem;
}

.services .box-wrapper {
  text-align: center;
}
.services .box-wrapper h3 {
  color: #0175B3;
  font-size: 2.3rem;
}
.services .box-wrapper p {
  font-size: 1.6rem;
}
.services .box-wrapper .icon-box {
  padding-top: 50px;
}
.services .box-wrapper .card-border {
  border: 1px solid #888888;
}
.services .box-wrapper .card-custom {
  padding: 40px 10px;
}

.clients {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px 0;
  text-align: center;
}
.clients h2 {
  color: #ffffff;
  text-transform: uppercase;
}
.clients h2::before, .clients h2::after {
  background-color: #ffffff;
  height: 6px;
}
.clients .clients-content {
  color: #ffffff;
}
.clients .clients-content p {
  font-size: 1.8rem;
}
.clients .clients-content img {
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
  border-radius: 50%;
}

.about-us .about-wrapper p {
  font-size: 1.8rem;
  text-align: center;
}

.contact {
  background-color: #0175B3;
  padding: 80px 80px 50px 80px;
}
.contact .contact-wrapper {
  color: #ffffff;
}
.contact .contact-wrapper h3 {
  color: #ffffff;
  font-size: 2rem;
}
.contact .contact-wrapper p {
  font-size: 1.8rem;
}

.site-footer {
  background-color: #363A42;
  color: #ffffff;
  padding: 110px 80px 5px 80px;
}
.site-footer .footer-wrapper {
  padding-bottom: 75px;
}
.site-footer .footer-wrapper h3 {
  color: #ffffff;
}
.site-footer .footer-wrapper p, .site-footer .footer-wrapper a {
  font-size: 1.6rem;
}
.site-footer .info a {
  color: #ffffff;
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  padding-left: 40px;
}
.site-footer .info .info-address {
  position: relative;
}
.site-footer .info .info-address::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  background-image: url(./img/address.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.site-footer .info .info-number {
  position: relative;
}
.site-footer .info .info-number::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  background-image: url(./img/number.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.site-footer .info .info-email {
  position: relative;
}
.site-footer .info .info-email::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  background-image: url(./img/mail.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.site-footer .copyright {
  text-align: center;
  font-size: 1.8rem;
}
.site-footer .newsletter-form .submit-btn {
  background-color: #0175B3;
}

.hamburger {
  position: relative;
  display: none;
  transition: all 0.5s ease;
  cursor: pointer;
  z-index: 20;
}
.hamburger div {
  width: 35px;
  height: 3px;
  background-color: #0175B3;
  margin: 5px;
  transition: all 0.3s ease;
}
@media (max-width: 960px) {
  .hamburger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/*# sourceMappingURL=style.css.map */
